$background: #222831;
$second-background: #393e46;
$text-color: #eeeeee;
$color-gray: #bdbdbd;
$details: #00adb5;
$white-color: #ffffff;
$little-black: #2b2b2b;
$gradient: linear-gradient(29deg, rgba(19, 72, 74, 1) 0%, rgba(6, 5, 5, 1) 92%);
